
  <header id="navbar">
    <nav class="navbar-container container">
      <a href="/" class="home-link">
        <div class="navbar-logo"></div>
        FiendRiver
      </a>

      <div class="navbar-menu">
        <ul class="navbar-links">
          <li class="navbar-item"><a class="navbar-link" href="https://www.youtube.com/FiendRiver"><i class="fab fa-youtube"></i></a></li>
          <li class="navbar-item"><a class="navbar-link" href="https://www.twitch.tv/FiendRiver"><i class="fab fa-twitch"></i></a></li>
          <li class="navbar-item"><a class="navbar-link" href="https://www.twitter.com/FiendRiver"><i class="fab fa-twitter"></i></a></li>
          <li class="navbar-item"><a class="navbar-link" href="https://www.instagram.com/FiendRiver"><i class="fab fa-instagram"></i></a></li>
          <li class="navbar-item"><a class="navbar-link" href="https://www.facebook.com/FiendRiver"><i class="fab fa-facebook"></i></a></li>
          <li class="navbar-item"><a class="navbar-link" href="https://www.patreon.com/FiendRiver"><i class="fab fa-patreon"></i></a></li>
          <li class="navbar-item"><a class="navbar-link" href="https://discord.gg/dG7mcKP"><i class="fab fa-discord"></i></a></li>
          <li class="navbar-item"><a class="navbar-link" href=""><i class="fab fa-guilded"></i></a></li>
          <li class="navbar-item"><a class="navbar-link" href="https://www.github.com/FiendRiver"><i class="fab fa-github"></i></a></li>
        </ul>

      <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>


      <div class="navbar-menu">
        <ul class="navbar-links">
          <li class="navbar-item"><a class="navbar-link" href="#About">About</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/">Donate</a></li>
          <li class="navbar-item"><a class="navbar-link" href="merch.html">Merch</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/">Contact</a></li>
        </ul>
      </div>
    </nav>
</header>



