{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"><script src="https://kit.fontawesome.com/3a25a5522e.js" crossorigin="anonymous"></script>  <title>Navbar</title>
    <title>FiendRiver.com</title>
</head>
<body>
    {% include 'partials/navbar.html' %}
    
    {%  block content %}

    {% endblock %}


    {% include 'partials/footer.html' %}
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>