

{% extends 'base.html' %}
{% load static %}
{%  block css %}

<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{%  block content %}
<div class= "container">
<h1 style="color: aliceblue;">FIENDRIVER GALLERY (UNDER CONSTRUCTION)</h1>

<br>
<br>


    {% for category in medias %}
    <div class="row">
    <h1 style="color: aliceblue;">{{category.name}}</h1>

        <a href="/submit"><button type="button" class="btn btn-danger">Submit {{category.name}}</button></a>
    {% for media in category.mediaobject_set.all %}
<div class="col-4">
    <button type='button' data-toggle="modal" data-target="#exampleModal">Launch Modal</button>s
    <div class="card bg-dark text-white">

        <img src="{{media.file.url}}" class="card-img" alt="..."> 

        <div class="card-img-overlay">
          <h5 class="card-title">{{media.title}}</h5>
          <p class="card-text"></p>
          <p class="card-text"></p>
        </div>
      </div>

    </div>
      <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
</div>
    {% endfor %}
</div>

{% endblock %}




  



<!-- UNUSED STUFF -->


<!-- <a class="waves-effect waves-light btn #b71c1c red darken-4" ><i class="material-icons right">movie_creation</i>Submit Clip</a> -->
<!-- <a class="waves-effect waves-light btn  #b71c1c red darken-4"><i class="material-icons right">palette</i>Submit Fan Art</a> -->
<!-- <a class="waves-effect waves-light btn #b71c1c red darken-4" ><i class="material-icons right">photo_camera</i>Merch Pics</a> -->

<!-- <a class="waves-effect waves-light btn #b71c1c red darken-4" ><i class="material-icons right">whatshot</i>Send Memes</a> -->
<!-- <a href="/submit" class="myButton">Submit {{category.name}}</a> -->