

{% extends 'base.html' %}
{% load static %}
{%  block css %}

{% endblock %}

{%  block content %}

<div class="container">

{{GameReview.header}}
{{GameReview.game_title}}
{{GameReview.headline}}

{{GameReview.author}}
{{GameReview.publish_date}}
{{GameReview.publisher}}
{{GameReview.developer}}
{{GameReview.first_release_date}}
{{GameReview.release_date}}
{{GameReview.reviewed_on}}
{{GameReview.platforms}}
{{GameReview.content_block1}}
{{GameReview.media_block1}}
{{GameReview.content_block2}}
{{GameReview.media_block2}}
{{GameReview.content_block3}}
{{GameReview.score}}
{{GameReview.concept}}
{{GameReview.visuals}}
{{GameReview.sound}}
{{GameReview.playability}}
{{GameReview.entertainment_value}}
{{GameReview.replay_value}}










</div> 
{% endblock %}