{% extends 'base.html' %} 
{% load static %} 
{% block css %} 

{% endblock %} 

{% block content %}

<div class="container">
  <div class="row">
    <div class= "col-12 reviewheader">
      {{GameReview.header}}
      <h1>{{GameReview.game_title}}</h1>
      <h3>{{GameReview.headline}}<h3>
    </div>
    <div  class= "col-8 offset-2 reviewinfo">
      <ul>
     <li>by {{GameReview.author}} on {{GameReview.publish_date}} </li> 
     <li>Publisher: {{GameReview.publisher}} </li>
     <li>Developer: {{GameReview.developer}}</li> 
     <li>Release Date: {{GameReview.first_release_date}}</li> 
     <li>Available on: {{GameReview.platforms}}</li>
     <li>Reviewed on: {{GameReview.reviewed_on}} </li>
    </ul>
    </div>
    <div class= "col-8 offset-2 reviewbody">
            {{GameReview.content_block1}}
            {{GameReview.media_block1}}
            {{GameReview.content_block2}}
            {{GameReview.media_block2}} 
            {{GameReview.content_block3}}
    </div>

    <div class= "col-8 offset-2 reviewscore">
<ul>
  <li>{{GameReview.score}}</li>
  <li>{{GameReview.concept}}</li>
  <li>{{GameReview.visuals}}</li>
  <li> {{GameReview.sound}} </li>
  <li>  {{GameReview.playability}}</li>
  <li>  {{GameReview.entertainment_value}} </li>
  <li> {{GameReview.replay_value}}</li>
</ul>
    </div>
  </div>
</div>


             



            
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
