{% extends 'base.html' %} {% load static %} {% block content %}
<h1 style="color: white">PORTFOLIO</h1>

<br />
<br />

<h2 style="color: white">Programming & Development</h2>
<img src="{% static 'img/portfolio/FiendRiverSite.png' %}" />
<br />

<h2 style="color: white">Hardware(Custom PC Builds)</h2>
<img src="{% static 'img/portfolio/FRPC1.jpg' %}" />
<img src="{% static 'img/portfolio/FRPC2.jpg' %}" />
<img src="{% static 'img/portfolio/AminPC.jpg' %}" />

<br />

<h2 style="color: white">Graphic Design</h2>
{% endblock %}
