{% extends 'base.html' %} {% load static %} {% block content %}
<h1 style="color: white">PORTFOLIO</h1>

<br />
<br />

<h2 style="color: white">Programming & Development</h2>
<img src="{% static 'img/portfolio/FiendRiverSite.png' %}" />
<br />

<h2 style="color: white">Hardware(Custom PC Builds)</h2>

<div class="container">
  <div class="row">
    <div class="col-12 reviewheader">
      <div class="col-4">
        <img src="{% static 'img/portfolio/FRPC1.jpg' %}" />
      </div>
      <div class="col-4">
        <img src="{% static 'img/portfolio/FRPC2.jpg' %}" />
      </div>

      <div class="col-4">
        <img src="{% static 'img/portfolio/AminPC.jpg' %}" />
      </div>
    </div>
  </div>
</div>

<br />

<h2 style="color: white">Graphic Design</h2>
{% endblock %}
